<html>
<head>
<title> NCR India CE login</title>
<div> <header> <center><h1 style="background-color : RED;">Pls Change your password here</h1></center></header></div>

</head>
<body style="background-color:powderblue;"> <center>
<h2> Hello {{username}}</h2>
<div id = "password-change-form" >
	
	<form name = "form9" method="post" action="change_password_page" id = "form0">
		{% csrf_token %}
		<label for = 'username'> Enter New password: </label>
		<input type = 'password' name = "pass1" placeholder = "New password" required>
		<label for = 'pass'> Confirm Password: </label>
        <input type = 'password' name = "pass2" placeholder = "Confirm password" required>
        <input type="hidden" id="custId" name="uname" value = {{username}} >
		<button type = 'submit'>Submit</button>
	</form>
</div>
<h1 style="color:RED;"> {{confimation}}</h1></h1><br><br><br><br><br><br>
<div id = "loqout-form" >
	
	<form name = "form10" method="post" action="login" id = "form10">
		{% csrf_token %}
		<button type = 'submit'> Logout </button>
	</form>
</div>

<a herf='https://www.globalmicrotel.com/'>www.globalmicrotel.com</a>
<div><footer>For more Information visit <a herf="http://www.ncr.com">www.globalmicrotel.com</a></footer></div>
</center></body>

</html>